{{ laravel_scheduler_log }} {
    {{ logrotate_frequency }}
    rotate {{ logrotate_rotate_count }}
    compress
    delaycompress
    notifempty
    missingok
    create 0644 {{ logrotate_owner }} {{ logrotate_group }}
    sharedscripts
}
